*, 
*::before, 
*::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --orange: #f7c08a;
}
body{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
}
li{
    list-style: none;
}

h1{
    font-size: 2.5rem;
}
button{
    font: inherit;
    background: none;
    border: none;
}
img, picture, source{
    max-width: 100%;
    height: auto;
}
/* component styles */
.flex{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.wrapper{
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 2rem;
}
.clearfix::after{
    content: "";
    display: block;
    height: 0;
    clear: both;
}
.btn-component{
    background: none;
    border: none;
    display: inline-block;
    padding: 1rem 1rem;
    border-radius: 8px;
}
header{
    background-color: black;
    
}
header h2{
    align-self: center;
}

header li{
    padding: 1.5rem 1rem;
    text-align: center;
}
header li:hover{
    color: var(--orange);
    background-color: rgba(238, 238, 238, 0.1);
}
.header-flex > *{
    display: inline-block;
    width: 49%;
}

.header-layout > *{
    margin: 0px;
    width:49.5%;
    display: inline-block;
}
.nav-flex > *{
    display: inline-block;
    width: 23.5%;
}

@media (max-width: 800px){
    .header-layout > *{
        width: 100%;
        padding-block: .5rem;
    }
    .header-nav{
        display: none;
        /* display: none; */
    }
    .show-dropdown{
        display: block;
    }
    .nav-flex > *{
        width: 100%;
    }
}
.menu-toggle{
    align-self: center;
    width: 30px;
    display: none;
}
@media (max-width: 800px){
    .menu-toggle{
        display: block;
        margin-left: auto;
    }
}
.active{
    color: var(--orange);
    background-color: rgba(238, 238, 238, 0.1);
}
.hero{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    text-align: center;
    padding: 2rem 0px;
}
.hero h1{
    color: var(--orange);
}
.hero h1 span{
    color: white;
}
.hero button{
    color: white;
    background-color: black;
    padding: 1rem 2rem;
    border-radius: 8px;
}
.hero button:hover{
    background-color: var(--orange);
}
.hero-img{
    background-image: url(./images/hotel-room.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.card{
    background-color: #333;
    color: white;
}
.card-img{
    background-image: url(./images/hotel-yard.jpg);
    width: 50%;
    height: 100%;
    float: left;
}
.card-wrapper{
    padding: 1px;
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
}
@media (max-width: 800px){
    .card-wrapper{
        width: 100%;
    }
}
.card-content{
    margin: 3rem 2rem;
}
.card-content > *~*{
    margin-top: 1.5rem;
}
.content-btn{
    background-color: white;
}
/* boxes */
.boxes{
    height: 45vh;
    color: black;
}
.box{
    float: left;
    width: 25%;
    height: 100%;
}
@media (max-width: 1000px){
    .box{
        width: 50%;
    }
}
@media (max-width: 600px){
    .box{
        width: 100%;
    }
}
.box-content{
    padding: 2rem 2rem 0rem 2rem;
    text-align: center;
}
.box-content h3{
    margin-top: .5rem;
}
.box-content p{
    padding-top: 1rem;
}
.box-primary{
    background-color: var(--orange);
}
.box-icon{
    display: inline-block;
    width: 50px;
    text-align: center;
}
footer{
    text-align: center;
    padding-block: 2rem;
    background-color: #333;
}
footer p{
    display: inline-block;
    vertical-align: middle;
}